* {
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* root variables  */
:root {
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 /15%)
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

/* header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background: var(--text-color);
}

header a {
    color: var(--bg-color);
}

.logo {
    width: 60px;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}

.nav-icon {
    font-size: 23px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}

.nav-icon i {
    color: var(--bg-color);
}

.nav-icon i:hover {
    color: var(--main-color);
}

#menu-icon {
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100000;
    cursor: pointer;
    display: none;
}

.search-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
}

.search-box:active {
    top: 110%;
    box-shadow: var(--box-shadow);
    transition: 0.3s all linear;
}

.search-box input {
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}

/* home section  */
.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/image1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.home-text h1 {
    padding-left: 13rem;
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-text p {
    padding-left: 13rem;
    font-size: 2rem;
    color: var(--bg-color);
    margin: 0.5rem 0 1.4rem;
}

.btn {
    margin-left: 13rem;
    padding: 10px 40px;
    border-radius: 0.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
    font-size: 1.5rem;
}

.btn:hover {
    background: #8a6f4d;
}

/* about section  */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    border-radius: 0.5rem;
}

.about-text h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.about-text p {
    font-size: 1.3rem;
    margin: 0.5rem 0 1.1rem;
}

/* products section  */
.heading {
    padding-top: 8rem;
    text-align: center;
}

.heading h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}

.container .box {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.container img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: 0.5rem;
    border-radius: 0.5rem;
}

.container .box h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}

.container .box .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .box .content span {
    padding: 0 1rem;
    color: var(--bg-color);
    background: var(--main-color);
    border-radius: 4px;
    font-weight: 500;
}

.container .box .content a {
    padding: 0 1rem;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    text-transform: uppercase;
}

.container .box .content a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

/* customers section  */
.customers .heading {
    margin-top: 3rem;
}
.customers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 8rem;
}

.customers-container .box {
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.6rem;
    text-align: center;
}

.customers-container .box p {
    font-size: 1rem;
}

.customers-container .box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.customers-container .box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.customers-container .box:hover {
    background: var(--second-color);
    transition: 0.3s all linear;
}

/* footer section  */
.footer {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(240px, auto)); */
    text-align: center;
    padding: 2rem 4rem 2rem 4rem;
    gap: 1.5rem;
    background-color: #8a6f4d;
}

.footer-box h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 0.7rem;
    margin-top: 0.7rem;
}

.social a {
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.3rem;
}

.social a:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.footer-2 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    background-color: #8a6f4d;
}
.footer-box h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box li a {
    color: var(--text-color);
}

.footer-box li a:hover {
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contact span {
    display: flex;
    align-items: center;
}

.contact i {
    font-size: 20px;
    margin-right: 1rem;
}

@media (max-width: 1058px) {
    header {
        padding: 16px 60px;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 16px 4%;
    }
    .home-text h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    header {
        padding: 12px 4%;
    }
    #menu-icon {
        display: inline;
    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }
    .navbar a {
        color: var(--text-color);
    }

    .navbar a:hover {
        color: var(--bg-color);
    }
    .navbar:active {
        top: 100%;
    }

    .about {
        align-items: center;
    }
}

@media (max-width: 360) {
    header {
        padding: 11px 4%;
    }

    .logo a {
        width: 45px;

    }
    .home-text {
        padding-top: 15px;

    }

    .home-text h1 {
        font-size: 1rem;
    }
    .home-text p {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .about-img {
        order: 2;
    }
.about-text {
    text-align: center;
}
.about-text h2 {
    font-size: 1.2rem;
}

.heading h2 {
    font-size: 1.2rem;
}
}
    